html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: #050505 url(../img/img01.jpg) repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.88rem;
    color: #5b5b5b;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    color: #222222;
}

h2 {
    font-size: 2.45rem;
}

h3 {
    font-size: 1.6em;
}

p,
ul,
ol {
    margin-top: 0;
    line-height: 180%;
}

a {
    color: #5e5e5e;
}

.group_clear::after {
    content: '';
    clear: both;
    display: block;
}

/* Boilerplate code from https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L107-L169 to hide headings that are in place for screen readers */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

#wrapper {
    background: #ffffff url(../img/img05.jpg) repeat;
}

/* Header */
#header-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

#header {
    margin: 0 auto;
    padding: 1rem 0 0 0;
}

/* Logo */
#logo {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

#logo h1 {
    letter-spacing: -2px;
    font-size: 3.2rem;
}

#logo h1 a {
    color: #1f1f1f;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

#logo a {
    border: none;
    background: none;
    text-decoration: none;
    color: #000000;
}

/* Menu */
#menu {
    margin: 0 auto;
    padding: 0;
}

#menu ul {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 1rem 0 0.1rem 0;
    list-style: none;
    line-height: normal;
}

#menu ul li + li {
    display: inline-block;
    width: calc(98.7% / 2);
    border-top: 1px solid #ffffff;
}

@media all and (min-width: 500px) {

    #menu ul li + li {
        width: calc(97.5% / 4);
    }
}

@media all and (min-width: 600px) {

    #menu ul li,
    #menu ul li + li {
        display: inline-block;
        width: calc(97.3% / 5);
        border-top: none;
    }
}

@media all and (min-width: 840px) {

    #menu {
        float: right;
        width: 60%;
    }

    #logo {
        float: left;
        margin: 0 0 2rem 0;
    }

    #menu ul li,
    #menu ul li + li {
        display: inline-block;
        width: calc(96.8% / 5);
    }
}


#menu a {
    display: block;
    line-height: 3rem;
    padding: 0 1rem 0 1rem;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #1f1f1f;
    border: none;
}

#menu a:hover,
#menu .current_page_item a {
    background: url(../img/img01.jpg) repeat;
    text-decoration: none;
    color: #ffffff;
}

/* Page */
#page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}

/* Content */
#content {
    padding: 0 0.5rem;
}

@media all and (min-width: 700px) {

    #content {
        padding: 1rem 0.5rem 0 0.5rem;
        width: 66%;
        float: right;
    }

    #sidebar {
        width: 34%;
    }
}

.post {
    overflow: hidden;
    margin-bottom: 3rem;
    border-bottom: 1px solid #e7ebed;
}

.post .title {
    padding: 0.5rem 0 0 0;
    letter-spacing: -1px;
}

.post .title a {
    border: none;
    text-decoration: none;
    color: #222222;
}

.post .meta {
    margin-bottom: 2rem;
    padding: 0.5rem 0 0 0;
    text-align: left;
    font-family: 'Abel', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.post .meta .date {
    float: left;
}

.post .meta .posted {
    float: right;
}

.post .entry {
    padding: 0 0 3rem 0;
    text-align: justify;
}

.links {
    padding-top: 1.5rem;
    margin-bottom: 2rem;
}

.more,
.comments {
    display: block;
    float: left;
    padding: 0.5rem;
    margin: 1% 3%;
    background: #222222;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

/* Sidebar */
#sidebar {
    margin: 0;
    padding: 2rem 0.5rem 0 0.5rem;
}

#sidebar ul {
    padding: 0;
    list-style: none;
}

#sidebar section ul {
    margin: 0 0;
    padding-bottom: 2rem;
}

#sidebar section li {
    line-height: 2rem;
    border-bottom: 1px solid #e7ebed;
    border-left: none;
}

#sidebar section li a {
    padding: 0 0 0 1.5rem;
    background: url(../img/img04.jpg) no-repeat left 50%;
}

#sidebar h3 {
    line-height: 2rem;
    padding: 0 0 1.5rem 0;
    letter-spacing: -0.5px;
    font-size: 1.6rem;
    color: #222222;
}

#sidebar a {
    border: none;
}

#sidebar a:hover {
    text-decoration: underline;
}

/* Footer */
#footer {
    margin: 5% auto;
    font-family: 'Abel', sans-serif;
}

#footer p {
    margin: 0;
    letter-spacing: 1px;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    color: #5e5e5e;
}

#banner {
    clear: both;
    margin: 0 auto;
    background: url(../img/img03.png) no-repeat left bottom;
}

#banner img {
    width: 100%;
}
